body {
    font-family:  Arial, sans-serif;
    background-color: aqua;
}
  
.header {
    background-color: lightsteelblue;
    color: blueviolet;
    text-align: center;
    padding: 20px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 40px;
}

.main-content {
    padding: 20px;
}

.footer {
   padding: 20px;
}

.footer p {
    opacity: 0.5;
}