.body {
    background-color: wheat;
    font-family: Arial,sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: cornsilk;
    padding: 10px;

}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
}

.login.btn {
    padding: 15px 25px;
    background-color: blue;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}